$heightMenu: 40px;

.navigationBox {
	height: $heightMenu;
	background-color: #550f24;
}

.navigation {
	height: $heightMenu;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;

    li {
        padding: 0 12px;
        list-style: none;

        &:first-child {
            margin-left: 30px;
        }
        a {
            padding: 2px;
            color: #febf0f;
            text-decoration: none;

            &:hover {
                color: #fff;
            }
        }
    }
}