.wrapperApp {
	margin: 0 auto;
	height: 100vh;
	max-width: 1180px;
	display: flex;
	flex-direction: column;  
}
.contentBox{
	flex: 1 0 auto;
	display: flex;
	margin: 2px 0;
}
.mainContent{
	width: 100%;
	max-width: 922px;
	margin-right: 4px;
	border: 1px solid #272727;
	line-height: 1.5em;
}